html,body{
    overflow-x: hidden;
}

.navbar-brand{
    padding-left: 20px;
}

/*--navigation bar--*/
#navbarSupportedContent{
    padding: 30px;
}

.nav-item
{
    padding-right: 15px;
    padding-left: 15px;
}

.nav-link{
    letter-spacing: 2px;
    font-size: 18px;
    /*width: 20%;*/
}

.nav-link .active
{
    background-color: black;
}

/*--search bar--*/
#searchBarContainer{
    padding-top: 10px;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #848b8e !important;
}

.btn-primary{
    background-color: #848b8e !important;
    border-color: #848b8e !important;
    /*letter-spacing: 2px !important;*/
}

.btn-primary:focus{
    box-shadow: none !important;
    background-color: #565d60 !important;
}

/*--heading--*/
h1 {
    padding: 2%;
    /*background-color: #d7dee1;*/
    /*background-color: #10858e;*/
    background-color: #7eb2bb;
    text-align: center;
    color: white;
    /*text-shadow: #a4afb4 1px 0 1px;*/
    /*color: #292929;*/
    font-weight: lighter;
    letter-spacing: 2px;
}

/*============================================---Home page---============================================*/
/*--bottom heading--*/
.logo-image{
    /*margin: 0 auto;*/
    display: block;
    margin: 0 auto 0 auto;
}

.heading-container{
    background-color: #83c4ce;
    /*background-color: #ffd442;*/
    color: black;
    margin-bottom: 0;
}

.lead{
    display: block;
    margin: 0 auto;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}

/*--carousel--*/
.carousel-caption h5 {
    font-size: 32px;
}
/*============================================---Machines page---============================================*/
/*--machine container--*/
.image-container{
    margin-left: auto;
    margin-right: auto;
}

.card{
    padding: 10px;
    margin: 5%;
    -webkit-border-radius: 0;
    background-color: #f5fcff;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .1)
}

.card-img-top{
    height: 200px;
    width: 350px;
    -o-object-fit: contain;
    position: relative;
}

.card-img-top:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: all 800ms ease;
}

.gallery{
    margin: 50px;
}

.reveal{
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/*============================================---Projects page---============================================*/

.project-image-container{
    position: relative;
    margin: 30px auto 5px auto;
}

.project-image{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project-image-overlay{
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.5s;
}

.project-image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.project-image-overlay:hover {
    opacity: 1;
}

.project-image-overlay > * {
    transform: translateY(0);
}




/*============================================---Contact page---============================================*/
/*--form--*/
div.form {
    display: block;
    text-align: center;
}

.contact-form {
    margin-top: 35px;
    width: 600px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form-group{
    padding: 3px;
}

.contact-form button{
    margin-left: 3px;
}



