html,body{
    overflow-x: hidden;
}

.navbar-brand{
    padding-left: 20px;
}

/*--navigation bar--*/

/*.navbar-custom {
    background-color: #7499CE;
    background-image: none;
    background-repeat: no-repeat;
}*/

#navbarSupportedContent{
    padding: 30px;
}

.nav-item
{
    padding-right: 15px;
    padding-left: 15px;
}

.nav-link{
    letter-spacing: 2px;
    font-size: 18px;
    /*width: 20%;*/
}

/*--search bar--*/
#searchBarContainer{
    padding-top: 10px;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #848b8e !important;
}

.btn-primary{
    background-color: #848b8e !important;
    border-color: #848b8e !important;
    letter-spacing: 2px !important;
}

.btn-primary:focus{
    box-shadow: none !important;
    background-color: #565d60 !important;
}

/*--carousel--*/

/*--jumbotron--*/
.container  img {
    display: block;
    margin: 0 auto;
    width: 20%;
}

.jumbotron{
    background-color: #83c4ce;
}

.carousel-caption h5 {
    font-size: 32px;
}

.carousel-caption p {
    font-size: 18px;
}

.card
{
    background-color: #83c4ce;
}

.col-md-6 .card-body
{
    background-color: whitesmoke;
}

.nav-link .active
{
    background-color: black;
}

/*.row
{
    padding: 50px;
    background-color: #83c4ce;
}*/

/*form
{
    padding-top: 50px;
    padding-left: 500px;
    padding-right: 500px;
}*/

.project-image
{
    max-height: 500px;
    max-width: 700px;
    margin: 50px;
}
